<?xml version="1.0" ?>
<web-app>
	<display-name>Caesar Cipher Generator</display-name>
	<description>Project app for Level 1 developed by Bowwi Katigbak</description>
	<servlet>
		<servlet-name>Cipher</servlet-name>
		<servlet-class>Cipher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cipher</servlet-name>
		<url-pattern>/encrypt</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Data</servlet-name>
		<servlet-class>Data</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Data</servlet-name>
		<url-pattern>/data</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Deciph</servlet-name>
		<servlet-class>Deciph</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Deciph</servlet-name>
		<url-pattern>/DeciphData</url-pattern>
	</servlet-mapping>
</web-app>
